body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
.timer-container {
  padding: 20px;
  border: 1px dotted rgb(98, 98, 233);
  text-align: center;
}